<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007375638749-ovoosgf5ch8ehgm7s4f4ghft7kbdvjun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007375638749-ovoosgf5ch8ehgm7s4f4ghft7kbdvjun</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007375638749-1m8j6rpfr3tmmhoslsub0n4jn32h52di.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_plf1ED0TPceNbfEvDUawdBhbT_7YdkI</string>
	<key>GCM_SENDER_ID</key>
	<string>1007375638749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cowsarebeautiful.bookManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>book-manager-633fe</string>
	<key>STORAGE_BUCKET</key>
	<string>book-manager-633fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007375638749:ios:4df08ff1c572882e75bb34</string>
</dict>
</plist>